<label for="product">Selectionnez le produit  : </label>
<input type="text" id="prod" name="prod" list="product-list" #prod>

<datalist id="product-list">
	<option *ngFor="let p of products">{{p.name}}</option>
</datalist>

   <button type="button" (click)="getProductName(prod.value)">search</button><br><br>
   
   <input type="text" id="qte" name="qte" list="qte-list" #qte>
   <input type="text" id="price" name="price" list="price-list" #price>

   <button type="button" (click)="incrementQteStock(prod.value,qte.value,price.value)">
      Ajouter stock articles</button>
   <button type="button" (click)="decrementQteStock(prod.value,qte.value)">
      Retirer Stock articles</button><br><br>
   
      <br>      <br>

   <input type="text" id="pourcentage" name="pourcentage" list="pourcentage-list" #pourcentage>
   <button type="button" (click)="changePercent(prod.value,pourcentage.value)">Changement %</button><br><br>

   <div *ngIf="product != undefined ">
   <body>
      <h1>Descriptions Produits</h1>

      <div *ngFor="let p of products">

          <ul>
               <li *ngIf="p.name == prod.value">
                  Nom : {{p.name}}
               </li>
               <li *ngIf="p.name == prod.value">
                  Prix : {{p.price}} euros
               </li>
               <li *ngIf="p.name == prod.value">
                  Prix en promotion : {{p.discount_price}} euros
               </li>
               <li *ngIf="p.name == prod.value">
                  Pourcentage de promotion : {{p.discount_percent}} %
               </li>
               <li *ngIf="p.name == prod.value">
                  Quantité en stock : {{p.quantity}}
               </li>
               <li *ngIf="p.name == prod.value">
                  Nombre d'articles vendus : {{p.sales_number}}
               </li>
               <li *ngIf="p.name == prod.value">
                  Commentaires : {{p.comments}}
               </li>
          </ul>
      </div>
      </body>
   </div>
