<button type="button" (click)="incrementAll()">
    Actualiser les données</button><br><br>


            <br><br>

<table>
    <thead>
    <td>Poisson</td>
        <div *ngFor="let p of poisson">
            <td>
                Nom : {{p.name}}                
                Prix : {{p.price}} euros           
                Prix en promotion : {{p.discount_price}} euros             
                Pourcentage de promotion : {{p.discount_percent}} %             
                Quantité en stock : {{p.quantity}}              
                Nombre d'articles vendus : {{p.sales_number}}               
                Commentaires : {{p.comments}}   
            </td>
            <input type="text" id="qte" name="qte" list="qte-list" #qte>
            <button type="button" (click)="incrementQteStock(p.name,qte.value,unde)">
               Ajouter stock articles</button>
            <button type="button" (click)="decrementQteStock(p.name,qte.value)">
               Retirer Stock articles</button>
            <br> <br>        
        </div>
    </thead>
</table>

<br><br>


<table>
    <thead>
        <td>
            Fruit de mer
        </td>
        <div *ngFor="let p of fruitdemer">
            <td>
                Nom : {{p.name}}                
                Prix : {{p.price}} euros           
                Prix en promotion : {{p.discount_price}} euros             
                Pourcentage de promotion : {{p.discount_percent}} %             
                Quantité en stock : {{p.quantity}}              
                Nombre d'articles vendus : {{p.sales_number}}               
                Commentaires : {{p.comments}}   
            </td>
            <input type="text" id="qte" name="qte" list="qte-list" #qte>
            <button type="button" (click)="incrementQteStock(p.name,qte.value)">
                Ajouter stock articles</button>
             <button type="button" (click)="decrementQteStock(p.name,qte.value)">
                Retirer Stock articles</button>
            <br> <br>  
        </div>
    </thead>
</table>

<br><br>

<table>
    <thead>
        <td>
            Crustacé
        </td>
        <div *ngFor="let p of crustacer">
            <td>
                Nom : {{p.name}}                
                Prix : {{p.price}} euros           
                Prix en promotion : {{p.discount_price}} euros             
                Pourcentage de promotion : {{p.discount_percent}} %             
                Quantité en stock : {{p.quantity}}              
                Nombre d'articles vendus : {{p.sales_number}}               
                Commentaires : {{p.comments}}   
            </td>
            <input type="text" id="qte" name="qte" list="qte-list" #qte>
            <button type="button" (click)="incrementQteStock(p.name,qte.value)">
                Ajouter stock articles</button>
             <button type="button" (click)="decrementQteStock(p.name,qte.value)">
                Retirer Stock articles</button>

            <br>  <br>        
 
        </div>
    </thead>
</table>
