<legend>Ajouter Transaction</legend>

<div id="container">
    <div id="row">
        <label for="date">Date</label> <input type="text" id="date" #date>
    </div>
    <div id="row">
        Quantité : <input type="text" id="quantity" #quantity>
    </div>
    <div id="row">
        Prix : <input type="text" id="price" #price>
    </div>
    <div id="row">
        Id : <input type="text" id="id" #id>
    </div>
    <div id="row">
        Type de transaction : <input type="text" id="type" #type>
    </div>
    <button (click)="postTransactions(date.value,price.value,quantity.value,id.value,type.value)">Envoyer</button>
</div>


<div *ngFor="let t of listTransactions">
    prix : {{t.price}}<br>
    id : {{t.tigID}}<br>
    date : {{t.date}}<br>
    transaction_type : {{t.transaction_type}}<br>
    _____________________________________________
</div>